*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin-left: 10%;
    margin-top: 10vh;
}

.main ul{
    list-style: none;
    background: green;
    width: 80%;
    text-align: right;
}

.main ul li{
    display: inline;
    font-size: 25px;
    color: white;
    margin:0px 10px;
    border: 2px solid transparent;
}

.main ul{
    padding: 20px;
}

.main ul li:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}